/* src/index.css */
:root {
  --primary-color: #038ea3;
  --secondary-color: #17A2B8;
  --accent-color: #FF5733;
  --highlight-color: #28A745;
  --background-color: #e5e5e5;
  --text-color: #212529;
  --table-header-bg: #007bff; /* Default table header background color */
  --table-row-bg: #ffffff; /* Default table row background color */
  --table-row-hover-bg: #e0e0e0; /* Default table row hover background color */
}

[data-theme='dark'] {
  --primary-color: #1C1C1E;
  --secondary-color: #272727;
  --accent-color: #FF3B30;
  --highlight-color: #34C759;
  --background-color: #121212;
  --text-color: #E5E5E5;
  --table-header-bg: #1c1c1c; /* Dark theme table header background color */
  --table-row-bg: #1f1f1f; /* Dark theme table row background color */
  --table-row-hover-bg: #333; /* Dark theme table row hover background color */
}

/* General Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar Styles */
.navbar {
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

/* Button Styles */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

/* Card Styles */
.card {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.card-title {
  color: var(--text-color);
}

.card-text {
  color: var(--text-color);
}

/* Table Styles */
.table {
  background-color: var(--background-color);
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  background-color: var(--table-header-bg);
  color: var(--text-color);
}

.table tbody tr {
  background-color: var(--table-row-bg);
}

.table tbody tr:hover {
  background-color: var(--table-row-hover-bg);
}

.table td, .table th {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Accent Styles */
.text-info {
  color: var(--highlight-color) !important;
}
